<div class="col-xs-6">
  <label class="control-label">Server Name(One way binding)</label>
  <input class="form-control"
    type="text"
    (input)="onServerNameCreation($event)"
  >
</div>
<div class="col-xs-6">
  <label class="control-label">Server Name(Two way binding)</label>
  <input  class="form-control" type="text" [(ngModel)]="serverName">
</div>
<div class="col-xs-12">
  <br>
  <button class="btn btn-primary pull-right"
          [disabled]="serverName === ''"
          (click)="onCreateServer()"
    >Add New Server</button>
</div>
<div class="col-xs-12">
  <hr>
  <p *ngIf="serverCreated; else noServer" [innerText]="serverLocation"></p>
  <ng-template #noServer>
    <p>No server is present now!</p>
  </ng-template>
  <app-server *ngFor="let server of serversList; let i = index">{{ server }}</app-server>
</div>

